<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @contenedor_imagenes_articulo.nombre %>
</p>

<%= link_to 'Edit', edit_contenedor_imagenes_articulo_path(@contenedor_imagenes_articulo) %> |
<%= link_to 'Back', contenedores_imagenes_articulos_path %>
