/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require owl.carousel 
 *= require owl.theme
 *= require material_icons
 *= require_tree .
 *= require_self
 */


// General 
@import url('https://fonts.googleapis.com/css?family=Mali|Oswald');





h1 h2 h3 h4 h5 h6{
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Mali', cursive;
}



.titulos_header{
    color:#009688;
}

body {
   
}
//
.contenedor_beetewn_space {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
align-items: center;
-webkit-flex-flow: row wrap;

}
.btn_url a{

    width: 70%;
    background: white;
    border-radius: 15%;

}

// Categorias/index
.contenedor_lista_categoria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
}

.lista_categoria {
    padding: 5px;
    margin-top: 10px;
}

.card-body button:hover {
    background: #EAEAEA!important;
}

.card-body a:hover {
    background: #EAEAEA!important;
}


/* Global style */

body {
    padding: 50px;
  }
  .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555;
    &:hover, 
      &:focus {
        color: lighten(#555, 20%);
        border-color: lighten(#555, 20%);
      }
  }
  

  
  /* input file style */





  
  .input-file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    + .js-labelFile {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px;
      cursor: pointer;
      .icon:before {
        //font-awesome
        content: "\f093";
      }
      &.has-file {
        .icon:before {
          //font-awesome
          content: "\f00c";
          color: #5AAC7B;
        }
      }
    }
  }
  