<tr>
              <td>
                  



                <div class="form-group">
                  <%= f.input :imagen,as: :file , :input_html => { :class => 'my_input_file' }, label: false%>
                  <label for="file" class="btn btn-tertiary js-labelFile ">
                    <i class="icon fa fa-check"></i>
                    <span class="js-fileName">AGREGAR IMAGEN</span>
                  </label>
                </div>

              </td>


              <td>
                <label for=""></label> <br>
                <%= f.input_field :_destroy, as: :hidden %>
                <%= link_to "<button type='button' class='btn btn-danger'>#{material_icon.delete_sweep}</button>".html_safe, 
                '#', class: 'remove_nombre_facturacion' %>
              </td>
</tr>

<script>

  $(document).ready(function(){
    alert('entro');
  function inputsFiles() {
        

        $( ".js-labelFile" ).click(function() {
            
            
            $(this).parents("tr").find('.my_input_file').trigger('click'); 

            $('.my_input_file').change(function (element){
                
                var fileName = '';
                if (element.target.value) fileName = element.target.value.split('\\').pop();
                var my_label = $(this).parents("tr").find('.js-fileName');
                my_label.addClass('has-file');
                my_label.html(fileName);
                console.log(fileName);

            });

            

            //fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);
            
            
        });


        


    }

     
     inputsFiles();
  })

</script>