<br/>
<h1 class="text-center titulos_header"  >Registra el nuevo articulo</h1>
<p class="text-center">
    para que otros puedan verlo y comprarlo
</p>



<%= render 'form', articulo: @articulo %>

<%= link_to 'Back', articulos_path %>
